@font-face {
    font-family: "Visuelt";
    src:
        url("VisueltPro-Regular.ttf ")
}

* {
    font-family: "Visuelt";
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}


/* header Roma */
.navbar > a {
    color: #808080;
    transition: color 0.4s linear;
}
.navbar > a:visited {
    color: #808080;
    transition: color 0.4s linear;
}
.navbar > a:hover {
    color: #885fef;
    transition: color 0.2s linear;
}
.logo{
    
    background-color: rgb(255, 255, 255);
    width: 270px;
    height: 70px;
    color: rgb(74, 74, 255);
    margin-top: 30px;
    font-size: 25px;
    display: flex;
    justify-content: center;
   
}
.navbar{
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    font-size: 22px;
    width: 650px;
    height: 70px;
    gap: 30px;
     display: flex;
     justify-content: space-between;
     color: gray;
}
.header{
justify-content: space-between;
    display: flex;
}
.login{
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    width: 350px;
    height: 70px;
margin-top: 10px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.En{
    color: blue;
}
.Ru{
    color:gray
}
.reg{
    width: 200px;
    height: 50px;
    background-color: rgb(74, 74, 255);
    border-radius: 10px;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;


}
/* promo Андрей 1 */
body{
    margin: 0;
} 
.text{
    padding: 56px;
}

.hightlevl{
    width: 628px;
    height: 210px;
    font-size: 56px ;

}
.promo{
    background: #cf84e8;
background: radial-gradient(ellipse at bottom left, #948dff 0%, #f7f7ff 40%, #ffffff 100%);
max-width: 1440px;
height: 850px;
margin: auto;
display: flex;

}
.email{
    width: 465px;
    height: 64px;
    border-radius: 16px;
    position: relative;
}
.inputemail{
    width: 465px;
    height: 64px;
    border-radius: 16px;
    background-color: rgba(255,255,255,0.5);
    border: none;

}
.send{
    color: #4754eb;
    border-radius: 16px;
    width: 143px;
    height: 48px;
    background-color: #ffffff;
    border: none;
}
.button{
    position: absolute;
    top: 0;
    right: 0;
    top: 8px;
}
.obradotka{
color: #808080;

}
.persdan{
    color: #4754eb;
    
}
.glavobrabotka{
width: 354px;
height: 32px;
font-size: 12px;
padding: 0;
}
.listdal{
    margin-top: 333px;
    display: flex;
    gap: 8px;
    width: 165px;
    height: 32px;
    align-items: center;
    
}
.Scroll{
    width: 133px;
    height: 22px;
    font-size: 16px;
}
.mouse{
width: 24px;
height: 32px;
}
/* .ellipsewhite{
    width: 465px;
    height: 465px;
}
.ellipseblue{
    width: 302px;
    height: 302px; 
} */
/* advantages */
.advan-block{
    background-color: rgb(255, 255, 255);
    width: 1440px;
    height: 250px;
    display: flex;
    gap: 100px;
    margin: auto;
}

.advantoptext{
    margin-left: 250px;
}

.advaninside-block1{
    width: 400px;
    margin-left: 15px;
    
}

.advaninsideblock-text1{
    margin-top: 30px;
    font-size: large;
    color: #808080;
}
/* how we work */
.howework {
    width: 1392px;
    height: 800px;
    border-radius: 12px;
    padding: 20px;
    color: white;
    font-size: 20px;
    justify-content: space-evenly;
    

    box-shadow: 0 4px 10px rgba(64, 11, 148, 0.3);
    display: flex;
    padding: 80px 40px;
    background: linear-gradient(to right, #ffdcec, #e4e9ff);
    /* Плавный градиент */
    margin: auto
    
    
}

.hwwLeft {
    display: flex;
    font-size: 35px;
    width: 720px;
    height: 800px;



}

.Text {
    color: black;
}

.photo {
    width: 628px;
    height: 639px;
    
   
    position: relative;
    
}
.krug1{
     width: 302px;
    height: 302px;
    background-color: rgb(255, 66, 230);
    border-radius: 50%;
    position: absolute;
    top: 257px;
    left: 0;
}
.krug2{
        width: 540px;
    height: 540px;
    background-color: aliceblue;
    border-radius: 50%;
    top: 0;
    right: 0;
    position: absolute;
}
.HwwRight {
    width: 720px;
    ;
    height: 800px;
    display: flex;
    justify-content: center; }
    .sagolovok{
        color: black;
        font-size: 50px;
        align-items: center;
        
    }
.podtext{
    color: blue;
    font-size: 25px;
}
 .Glavtext{
    font-size: 20px;
    color: gray;
 }

.atext{

    color: blue;
    
    
}
.Text1{
    margin-top: 90px;
}
.Booking{
     background-color: blue;
     height: 40px;
     width: 250px;
     margin-top: 70px;
     border-radius: 20px;
     text-align: center;
     padding-top: 15px;
     
}
/* tarify Andrey 2 */

/* rates Тимур */
.maincatblock{
width: 1392px;
height: 800px;
background: linear-gradient(to top left, #f0e8ff, #ffeefd, #ffffff);    
}
.starcatblock{
    width: 628px;
    height: 240px;
    background-color: rgb(119, 119, 119);
    border-radius: 15px;
    display: flex;
    text-wrap: nowrap;
}
.secondaryblock1{
    gap: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.secondaryblock2{
 display: flex;
    justify-content: space-around;
    align-items: center;
}
.catinfo{
    border-radius: 50%;
    background-color: blue;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.catphoto{
border-radius: 50%;
width: 64px;
    height: 64px;
}
.catphoto2{
     border-radius: 50%;
     width: 64px;
    height: 64px;
}
.catphoto3{
    border-radius: 50%;
    width: 64px;
    height: 64px;
}
.catphoto4{
    border-radius: 50%;
    width: 64px;
    height: 64px;
}
.serega{
    margin-left: 23px;
}
.saimon{
    margin-left: 23px;
}
.olezhka{
    margin-left: 23px;
}
.inokentiy{
    margin-left: 23px;
}
.startextblock{
    padding: 2px;
    height: 144px;
    background-color: rgb(0, 191, 255);
}
.goverticalplz{
        width: 628px;
    text-wrap: wrap;
}
/* sale Олександр */

/* FrequentlyAskedQuestions */

/* Connect */

/* footer vanya */
p{
    margin: 0;
}

.footer-block{
    background-color: #4754EB;
    width: 1440px;
    height: 120px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;   
}

.footer-text-left{
    color: #FFFFFF; 
    padding-left: 25px;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.footer-text-left2{
    color: hsl(0, 0%, 68%); 
    padding-left: 25px;
    margin-bottom: 10px;
}

.footer-text-right{
    padding-bottom: 5px;
    color: #FFFFFF;
    margin-right: 10px;
}